<main [className]="''" *ngIf="data$ | async as data">
  <h1 [className]="'fs-2 fw-bold font-monospace my-4 mx-4'">Employee list:</h1>
  <ul [className]="'list-group mx-4'" *ngFor="let employee of data">
    <li [className]="'list-group-item my-1 d-flex align-items-center'">
      <span [className]="'d-inline me-3'" [style]="'width:22px'">{{employee["personalNumber"]}}. </span>
      <a [routerLink]="'/employee-details/' + employee['personalNumber'] + '/' +  employee['name']"
         [className]="'d-inline fw-bold w-25'">
        <span>{{employee["name"]}}</span>
      </a>
      <span [className]="' w-25 mx-5 fs-6 fw-semibold fst-italic'">{{employee["mail"]}}</span>
      <button (click)="delete(employee['personalNumber'])" [className]="'btn btn-danger'">X</button>
    </li>
  </ul>
</main>
<p class="text-muted mt-3 ms-4" [style]="'font-size:12px'">If data won't load refresh page</p>

